{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["@babel/transform-runtime"],
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@Server": "./src/server",
          "@WS": "./src/websocket",
          "@Config": "./src/utils/config",
          "@Cache": "./src/utils/cache",
          "@Logger": "./src/utils/logger",
          "@Redis": "./src/utils/redis",
          "@Mongo": "./src/utils/mongo",
          "@Passport": "./src/utils/passport",
          "@APIError": "./src/server/helpers/APIError",
          "@Authority": "./src/server/helpers/authority"
        },
        "extensions": [".js", ".json"]
      }
    ]
  ]
}
