{
	"presets": [
		"@babel/preset-env"
	],
	"plugins": [
		[
			"@babel/transform-runtime"
		],
		[
			"module-resolver",
			{
				"root": [
					"."
				],
				"alias": {
					"@App": "./src/app",
					"@Config": "./src/utils/config",
					"@Logger": "./src/utils/logger",
					"@Mongo": "./src/utils/mongo",
					"@Passport": "./src/utils/passport",
					"@APIError": "./src/server/helpers/APIError",
					"@Authority": "./src/server/helpers/authority"
				},
				"extensions": [
					".js",
					".json"
				]
			}
		]
	]
}
